<h1>Search Results</h1>


<div class='store'>
  <% @stores.each do |store| %>
  <%=  %>
</div>

expect(page).to have_content("Name: BEST BUY MOBILE - CHERRY CREEK SHOPPING CENTER")
expect(page).to have_content("City: DENVER")
expect(page).to have_content("Distance: 3.45 miles")
expect(page).to have_content("Phone: 303-270-9189")
expect(page).to have_content("Store Type: Mobile SAS")
